@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>My Podcasts</h1>

<div>
    <p>I make a podcast each week with my friends. It's called BaconSale!</p>
</div>

<a href="https://baconsale.com/">Click here to listen to my podcast</a>
<br />
<br />

<img src="~/img/season7finale.jpeg" />
